{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load custom_tags %}
{% load static %}
{% block body_class %}template-homepage{% endblock %}
{% block content %}
{{ page.body|richtext }}


<div id="homepage">

  {% for project in project_netra_projects %}
  <div class="container">
  <div id="project{{forloop.counter}}">
    <div class="hidden meta">
      <carousel>
        <imgUrl>
          {% image_url project.image 'original' %}
        </imgUrl>
        {% for carousel_image in project.carousel_images %}
          <imgUrl>
          {% image_url carousel_image.value 'original' %}
          </imgUrl>
        {% endfor %}
          
      </carousel>
    </div>
    <div class="home-card-main" id="project{{forloop.counter}}-main">
      <div class="home-content card-container ">
        <div class="home-cont1 home-title">
         <div>{{ project.title }}</div> 
        </div>
        <div class="home-cont1 home-desc">
          <p>
            {{ project.description|richtext|truncatewords_html:115 }}
          </p>
        </div>
        <div class="home-cont1">
          <div class="views-element-container widget">
            <div class="tags clearfix" style="cursor: pointer;margin-top: 3%;">
              <a class="expand-project" 
              coll="project{{forloop.counter}}-main" 
              exp="project{{forloop.counter}}-expanded" 
              project="project{{forloop.counter}}"
                class="Learn-More">Learn more</a>
              <a class="a-button" href="{{ project.website_url }}"><i class="fas fa-link fa-2x" aria-hidden="true"></i></a>
              <a class="a-button" href="{{ project.discord_url }}"
                style="font-weight: 900;"><i class="fab fa-discord fa-2x" aria-hidden="true"></i></a>
              <a class="a-button" href="{{ project.youtube_url }}"><i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i></a>
            </div>
          </div>

        </div>
      </div>

      <div class="card-container image" style="background-image: url({% image_url project.image 'original' %})">

      </div>
    </div>

    <div class="home-card-expanded hidden" style="opacity: 0%;" id="project{{forloop.counter}}-expanded">
      <div class="picture" style="background-image: url({% image_url project.image 'original' %})">
      </div>
      <div class="desc1">
        <div class="desc2 carousel-button" 
        coll="project{{forloop.counter}}-main" 
        project="project{{forloop.counter}}" 
        exp="project{{forloop.counter}}-expanded">
        
          <div class="btn-color-out carousel-previous">
            <i class="fas fa-angle-left"></i>
          </div>
          <div class="btn-color-out carousel-next"
           >
           <i class="fas fa-angle-right"></i>
          </div>
        </div>
        <div class="desc2 home-description">
          <p class="card-text">
            {{ project.description|richtext }}
          </p>
        </div>
        <div coll="project{{forloop.counter}}-main" 
        project="project{{forloop.counter}}" 
        exp="project{{forloop.counter}}-expanded" 
        class="desc2 link1 collapse-project btn-color-out"
        style="cursor: pointer;">
          <a >Back</a>
        </div>
      </div>
    </div>
  </div>
</div>
  <hr>
  {% endfor %}
</div>

<div id="homepage1">

  {% for project in project_netra_projects %}
  <div class="container">
  <div id="project{{forloop.counter}}-mobile">
    <div class="hidden meta">
      <carousel>
        <imgUrl>
          {% image_url project.image 'original' %}
        </imgUrl>
        {% for carousel_image in project.carousel_images %}
          <imgUrl>
          {% image_url carousel_image.value 'original' %}
          </imgUrl>
        {% endfor %}
          
      </carousel>
    </div>
    <div class="home-card-main" id="project{{forloop.counter}}-main-mobile">
      <div class="card-container image" style="background-image: url({% image_url project.image 'original' %})">
      </div>
      <div class="home-content card-container ">
        <div class="home-cont1 home-title">
         <div>{{ project.title }}</div> 
        </div>
        <div class="home-cont1 home-desc">
          <p>
            {{ project.description|richtext|truncatewords_html:85 }}
          </p>
        </div>
        <div class="home-cont1">
          <div class="views-element-container widget">
            <div class="tags clearfix" style="cursor: pointer;margin-top: 5%;">
              <a class="expand-project" 
              coll="project{{forloop.counter}}-main-mobile" 
              exp="project{{forloop.counter}}-expanded-mobile" 
              project="project{{forloop.counter}}-mobile"
                class="Learn-More">Learn more</a>
              <a class="a-button" href="{{ project.website_url }}"><i class="fas fa-link fa-2x" aria-hidden="true"></i></a>
              <a class="a-button" href="{{ project.discord_url }}"
                style="font-weight: 900;"><i class="fab fa-discord fa-2x" aria-hidden="true"></i></a>
              <a class="a-button" href="{{ project.youtube_url }}"><i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="home-card-expanded hidden" style="opacity: 0%;" id="project{{forloop.counter}}-expanded-mobile">
      <div class="picture" style="background-image: url({% image_url project.image 'original' %})">
      </div>
      <div class="desc1">
        <div class="desc2 carousel-button" 
        coll="project{{forloop.counter}}-main-mobile" 
        project="project{{forloop.counter}}-mobile" 
        exp="project{{forloop.counter}}-expanded-mobile">
        
          <div class="btn-color-out carousel-previous">
            <i class="fas fa-angle-left"></i>
          </div>
          <div class="btn-color-out carousel-next"
           >
           <i class="fas fa-angle-right"></i>
          </div>
        </div>
        <div class="desc2 home-description">
          <p class="card-text">
            {{ project.description|richtext }}
          </p>
        </div>
        <div coll="project{{forloop.counter}}-main-mobile" 
        project="project{{forloop.counter}}-mobile" 
        exp="project{{forloop.counter}}-expanded-mobile" 
        class="desc2 link1 collapse-project btn-color-out"
        style="cursor: pointer;">
          <a >Back</a>
        </div>
      </div>
    </div>
  </div>
</div>
  <hr>
  {% endfor %}
</div>

<footer id="footer">
  <div class="container">
    <div class="footer-wrap">
      <div class="row" style="display: flex;justify-content: space-between;">
        {% for footer_link in footer_links%}

          <div  style="text-align: center;">
           <a href="{{footer_link.link}}">{{footer_link.link_name|safe}}</a>
          </div>

        {% endfor %}
      </div>

      </div>
    </div>
  </div>
</footer>
{% endblock %}


{% block scripts %}
<script src="{% static 'netraJS/homePageJs.js' %}"></script>
{% endblock scripts %}