          <h5 id="follow-title">Follow us.</h5>
          <div class="views-element-container widget ">
            <div class="tags clearfix" id="follow-btns">
              <a class="follow-url" social="twitter" href="https://twitter.com/getHarsh_in">
                <i class="fa fa-twitter fa-2x"></i>
              </a>
              <a class="follow-url" social="linkedin" href="https://www.linkedin.com/in/getharsh/">
                <i class="fa fa-linkedin fa-2x"></i>
              </a>
              <a class="follow-url" social="instagram" href="https://www.instagram.com/me.harsh.joshi/">
                <i class="fa fa-instagram fa-2x"></i>
              </a>
              <a class="follow-url" social="github" href="https://github.com/getHarsh">
                <i class="fa fa-github fa-2x"></i>
              </a>
              <a class="follow-url" social="youtube" href="https://github.com/getHarsh">
                <i class="fa fa-youtube-play fa-2x"></i>
              </a>
            </div>
          </div>
