          <h5>Support.</span></h5>
          <div class="views-element-container widget">
            <div class="tags clearfix">
              <a href="#" style="text-align: center;" hreflang="en">
                <i class="fab fa-patreon fa-2x"></i>
              </a>
              <a href="" style="text-align: center;">
                <i class="fab fa-google-pay fa-2x"></i></i>
              </a>
              <a href="#" style="text-align: center;" hreflang="en">
                <i class="fa fa-paypal fa-2x"></i>
              </a>
            </div>
          </div>